/.venv
data/ngram_freq.csv
.gitignore
/.venv2
app/__pycache__
app/data
node_modules
node_modules/caniuse-lite/
package-lock.json
.env
ngram_freq.csv
packag
processed_pdfs/
uploads/
celery_worker.log
dump.rdb
dump.rdb
.parcel-cache
dist/
special_keys.txt
__pycache__/gunicorn.conf.cpython-311.pyc
