/.venv
data/ngram_freq.csv
.gitignore
/.venv2
app/__pycache__
app/data
node_modules
node_modules/caniuse-lite/
package-lock.json
.env
ngram_freq.csv
packag
processed_pdfs/
uploads/
celery_worker.log
dump.rdb
dump.rdb
.parcel-cache
dist/
special_keys.txt
__pycache__/gunicorn.conf.cpython-311.pyc
build
.kiro/specs/electron-conversion/requirements.md
ELECTRON CONVERSION PLAN.txt
requirements.electron.txt
.kiro/specs/electron-conversion/tasks.md
.kiro/specs/electron-conversion/design.md
app/__pycache__/
cache/
/app/__pycache__
specs/tasks.md
specs/requirements.md
specs/design.md
test_tasks.db
app/__pycache__/frequency.cpython-313.pyc
tasks.db
secrets/
electron/tmp-test-logs/
